<h1>Petster - A place for pets</h1>

<h2>This is a place to share pictures of your pet, or any cute animal you find.</h2>

<ul>
  <li>You can easily share your pictures own pictures from your computer</li>
  <li>You can copy and paste the image link</li>
  <li>If you use <a href="http://imgur.com/">imgur</a> make sure to use direct link ( Email & IM) option. </li>
  <li>Have fun, after all, animal pictures are the best thing about the internet.</li>
</ul>
