/*
*= require rails_bootstrap_forms
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url("http://i.imgur.com/WgtOyIa.jpg") no-repeat;
  background-size: cover;
  font-family: monaco, sans-serif;
  color: #EBDEF0;
  text-align: center;
}
.pet-pic {
  width: 400px;
  border: 6px solid #EBDEF0;
  border-radius: 7px
}
#description {
  height: 20rem;
  width: 35rem
}
button,
.submit {
  color: #2E86C1
}

a.no-decoration:link,
a.no-decoration:visited,
a.no-decoration:hover,
a.no-decoration:active {
  color: inherit;
  text-decoration: none;
}
