body {
  background: url("http://i.imgur.com/WgtOyIa.jpg") no-repeat;
  background-size: cover;
  font-family: monaco, sans-serif;
  color: #D5DBDB;
  text-align: center;
}

.pet-pic {
  width: 300px;
}
