body {
  background: url("http://i.imgur.com/WgtOyIa.jpg") no-repeat;
  background-size: cover;
  font-family: monaco, sans-serif;
  color: #EBDEF0;
  text-align: center;
}

.pet-pic {
  width: 400px;
  border: 6px solid #EBDEF0;
  border-radius: 7px
}
